/*reset les paddings et margins auto en css*/
/* * {
padding: 0;
margin: 0;
} */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background: url("slides_tech_startup_sky_lin.svg");
  background-color: #7a071c;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  align-items: center;
}

.header_left {
  float: left;
  height: auto;
  width: 60%;
  padding: 10px;
}

.header_right {
  float: left;
  width: 40%;
  padding: 10px;
}

/* .container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  align-items: flex-start;
} */

.item_left {
  float: left;
  width: 60%;
  background-color: white;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.item_right {
  float: right;
  width: 40%;
}

.item_right_top {
  background-color: rgba(122, 7, 28, 0.4);
  padding: 40px;
}

.item_right_bottom {
  background-color: rgba(122, 7, 28, 0.2);
  padding: 40px;
}

/* For tablets */
@media only screen and (max-width: 800px) {
  .item_left {
    width: 60%;
    padding: 20px;
  }
  .item_right {
    width: 40%;
  }
  .item_right_top {
    padding: 20px;
  }
  .item_right_bottom {
    padding: 20px;
  }
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
  .banner {
    display: block;
  }
  .header_left {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  .header_right {
    width: 100%;
    padding: 10px;
  }
  .item_left {
    width: 100%;
    padding: 20px;
  }
  .item_right {
    width: 100%;
  }
  .item_right_top {
    padding: 20px;
  }
  .item_right_bottom {
    padding: 20px;
  }
}

/* Polices des différentes catégories */

.header {
  font-family: "Spartan", sans-serif;
  font-size: 40px; /*taille 38*/
  color: white;
}

.poste {
  font-family: "Lato", sans-serif;
  font-size: 18px; /*taille 11*/
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.sect_title {
  font-family: "Spartan", sans-serif;
  font-size: 20px; /*taille 12*/
  text-transform: uppercase;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.job_role {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-weight: bold;
  text-transform: uppercase;
  margin-block-start: 1.5em;
}

.society_date_place {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-style: italic;
}

.descrip {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
}

.list {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
  margin-block-start: 0;
  margin-block-end: 0;
}

.right_title {
  font-family: "Spartan", sans-serif;
  font-size: 20px; /*taille 12*/
  text-align: center;
}

.center {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
  text-align: center;
}

.cat_skill {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-style: italic;
  font-weight: bold;
}

/* Images */

.photo {
  border-width: 2px;
  border-style: solid;
  border-radius: 50% 50%;
  border-color: #ffffff;
  width: 90%;
  max-width: 250px;
}

.img_center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90%;
  max-width: 400px;
}

/* Liens hypertextes */

a {
  color: #7a071c;
}

a.link {
  text-decoration: none;
}
